body {
    transform: scale(0.9);
    background-color: rgb(17, 17, 17);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}


.icon {

    display: inline-block;
    animation-name: examplefour;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

header h1 {
    font-size: 40px;
    display: inline-block;
    padding: 5px;

}

header {
    margin-top: -10px;
    margin-bottom: 0%;
    margin-top: 0%;
    animation-name: examplethree;
    animation-duration: 4s;

}

section {
    position: absolute;
    display: inline-block;
    background-color: rgb(17, 17, 17);
    margin-top: 10%;
    width: 700px;
    height: 600px;
    border-style: none;
    animation-name: example;
    animation-duration: 4s;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
   
}

.header_and_section {
    margin-top: -10%;
    padding: 10%;
    position: relative;
    animation: none;

}

section h1 {

    font-size: 40px;


}

section p {
    display:none;
    padding:15px;
    margin-bottom: 20px;
    background-color: rgba(255, 240, 240, 0.347);
    margin-top: -10px;
    
}



.woman {
    float: right;
    margin-top: -210px;
    animation-name: exampletwo;
    animation-duration: 4s;
    box-shadow: 10px 10px 10px black;
    margin-right: 0px;
    
}

.everywhere {

    color: rgb(12, 226, 12);


}

.email {
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    border-style: none;

}

section [type=submit] {
    margin-top: 15px;
    color: white;
    background-color: rgb(14, 194, 89);
    display: block;
    margin-bottom: 100px;
    width: 43%;
    rotate: x(150deg);
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    animation-name: examplefive;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.margin_logo {

    margin-right: 20px;



}

@keyframes example {
    0% {
        margin-left: 200%;
    }

    25% {
        margin-left: 100%;
    }

    50% {
        margin-left: 50%;
    }

    100% {
        margin-left: 0%;
    }

}


@keyframes exampletwo {
    0% {
        margin-right: 200%;
    }

    25% {
        margin-right: 100%;
    }

    50% {
        margin-right: 50%;
    }

    100% {
        margin-right: 0%;
    }

}

@keyframes examplethree {
    0% {
        margin-left: -200%;
    }

    25% {
        margin-left: -100%;
    }

    50% {
        margin-left: -50%;
    }

    100% {
        margin-left: 0%;
    }

}

@keyframes examplefour {
    0% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(100deg);
    }

    50% {
        transform: rotate(200deg);
    }

    100% {
        transform: rotate(360deg);
    }


}

@keyframes examplefive {
    0% {
        background-color: rgb(14, 194, 89);
    }

    25% {
        background-color: rgb(81, 211, 135);
    }

    50% {
        background-color: rgb(131, 226, 170);
    }

    100% {
        background-color: rgb(14, 194, 89);
    }

}


@keyframes examplesix {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}


h6 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.884);

}

.google_logo {

    background-color: white;
    border-radius: 5px;
}

.bar {
    display: inline-block;
    animation-name: examplesix;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 50px;

}

audio {
    position: absolute;
    display: inline-block;
    margin-left: 75%;
    margin-top: 20%;
    border: 2px solid rgb(243, 219, 6);
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px black;
    width: 300px;
    height: 40px;
    animation-name: exampleseven;
    animation-duration: 5s;


}

@keyframes exampleseven {
    0% {
        transform: rotateX(0deg);
        display: none;
    }

    25% {
        transform: rotateX(360deg);
    }

    50% {
        transform: rotateX(0deg);
        display: inline-block;
    }

    100% {
        transform: rotateX(0deg);

    }

}

#saibamais{
    margin-bottom: 20px;
    cursor: pointer;
    color:rgb(52, 198, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fecharsaibamais{

    margin-bottom: 20px;
    display: none;
    cursor:pointer;
    color:rgb(52, 198, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media screen and (max-width:800px) {

    header {

        margin-bottom: -10%;
        margin-top: 0%;
        animation-name: examplethree;
        animation-duration: 4s;
        text-align: center;
        text-shadow: 2px 2px black;
        background-color: rgba(1, 10, 1, 0.781);
        padding: 10.95px;
        width: 98%;

    }

    header h1 {
        display: block;
        margin-top: -10px;


    }

    section {
        position: absolute;
        display: inline-block;
        background-color: rgba(1, 10, 1, 0.781);
        margin-top: 8%;
        width: 79.5%;
        height: 700px;
        animation-name: example;
        animation-duration: 4s;
        text-align: left;
        text-shadow: 1px 1px black;
        padding-left: 15px;
        box-shadow: none;
    }

    section [type=submit] {
        margin-top: 15px;
        color: white;
        background-color: rgb(14, 194, 89);
        display: block;
        margin-bottom: -15px;
        width: 55%;
        border-style: none;
        border-radius: 0px;
        margin-left: 20%;
        padding: 15px;
        font-size: 15px;
        
    }
    

    .email {

        width: 50%;
        padding: 10px;
        border-style: none;
        margin-bottom: 0px;
        border-radius: 0px;
        margin-left: 20%;


    }

    body {

        background-color: rgb(161, 146, 7);
        color: white;
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    .woman {

        margin-top: -210px;
        animation-name: exampletwo;
        animation-duration: 4s;
        width: 100%;
        height: 100%;
        box-shadow: none;


    }

    section p {

        font-size: 23px;
        padding: 9px;
        display:none;
    }

    section h1 {

        font-size: 40px;
       

    }

    .margin_logo {


        margin-left: 20px;
    }

    @keyframes examplefive {
        0% {
            background-color: rgb(14, 194, 89);
        }

        25% {
            background-color: rgb(81, 211, 135);
        }

        50% {
            background-color: rgb(131, 226, 170);
        }

        100% {
            background-color: rgb(14, 194, 89);
        }

    }

    audio {
        position: absolute;
        display: inline-block;
        margin-left: 30%;
        margin-top: -5%;
        border: 2px solid rgb(255, 255, 255);
        background-color: white;
        width: 200px;
        height: 20px;

    }


    .google_podcast{

        text-decoration: none;
        font-size: 0px;
    }


    #saibamais{
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;

    }

    #fecharsaibamais{

        margin-bottom: 20px;
        text-align: center;
        display: none;
        cursor:pointer;
    }

}